@{
    Layout = null;
    var Ho_ten = "";
    var Loi_chao = "";
    var Chuoi_HTML_LOI_CHAO = "";
    if (IsPost)
    {
        Ho_ten = Request["A"];
    }

    var hop_le = XL_NGHIEP_VU.kiem_tra_hop_le_khach_hang(Ho_ten, ref Loi_chao);
    var danh_sach_nhom_hang = XL_LUU_TRU.doc_nhom_hang();

    if (hop_le)
    {
        Chuoi_HTML_LOI_CHAO = XL_THE_HIEN.Chuoi_HTML_hinh_anh_khach_hang_random(Loi_chao) + 
                $"Chúng tôi hiện có {danh_sach_nhom_hang.Count} nhóm hàng";
            
        danh_sach_nhom_hang.ForEach(hang =>
            Chuoi_HTML_LOI_CHAO += XL_THE_HIEN.Chuoi_HTML_danh_sach_nhom_hang(hang));
    }
    else
    {
        Chuoi_HTML_LOI_CHAO = "Xin vui lòng nhập # rỗng <br>nhập tên sau đó click <b>Submit</b>";
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MH_LOI_CHAO_KHACH_HANG</title>
</head>
<body>
    <form method="Post"> 
        <label>Nhap ten khach hang</label>
        <input type="text" name="A" value="@Ho_ten" />
        <input type="submit" value="Submit" />
    </form>
    @Html.Raw(Chuoi_HTML_LOI_CHAO)

</body>
</html>
